<% if user_signed_in? %>
  <div class="row">
    <div class="col-lg-6 offset-3">
      <div class="post-index">
      <% posts.each do |post| %>
        <div class="card mx-auto mt-4 shadow-lg" style="width: 202px">
          <%= link_to post_path(post) do %>
            <% post.post_images.each do |image| %><br>
              <%= attachment_image_tag image, :image, :fill, 200, 200 %>
              <% break %>
            <% end %>
          <% end %>
          <div class="card-body">
            <div class="favorite_btn_<%= post.id %>">
              <%= render 'public/favorites/favorite', post: post %>
            </div>
            <%= post.created_at.strftime('%Y/%m/%d') %><br>
            <%= @salon_user.salon_name %><br>
            犬種：<%= post.dog_breed %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>

<% else %>
  <div class="row">
    <div class="col-lg-6 offset-3">
      ※お気に入りをするには<br>
      ログインまたは新規登録をしてください→
      <%= link_to new_user_session_path do %>
        <i class="fas fa-hand-holding-heart"></i>
      <% end %>
      <div class="post-index">
      <% posts.each do |post| %>
        <div class="card mx-auto mt-4 shadow-lg" style="width: 202px">
          <%= link_to post_path(post) do %>
            <% post.post_images.each do |image| %><br>
              <%= attachment_image_tag image, :image, :fill, 200, 200 %>
              <% break %>
            <% end %>
          <% end %>
          <div class="card-body">
            <%= image_tag asset_path('born_brown.jpg'), :size =>'20x20' %><%= post.favorites.count %><br>
            <%= post.created_at.strftime('%Y/%m/%d') %><br>
            <%= @salon_user.salon_name %><br>
            犬種：<%= post.dog_breed %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
<% end %>