<% if user_signed_in? %>
  <div class="row">
    <div class="col-6 offset-3">
      <div class="card mx-auto mt-4 shadow-lg">
        <div class="card-header">
          <%= @salon_user.salon_name %>
        </div>
        <div id="slider">
          <% @post.post_images.each do |image| %><br>
            <%= attachment_image_tag image, :image, :fill, 200, 200 %>
          <% end %>
        </div>
        <div class="card-body">
          <% if @post.favorited_by?(current_user) %>
            <%= link_to post_favorites_path(@post), method: :delete do %>
              <%= image_tag '/assets/born_brown.jpeg', :size =>'20x20' %>
            <% end %>
            <%= @post.favorites.count %><br>
          <% else %>
            <%= link_to post_favorites_path(@post), method: :post do %>
            <%= image_tag '/assets/born_white.jpeg', :size =>'20x20' %>
          <% end %>
          <%= @post.favorites.count %><br>
        <% end %>
        <%= @post.created_at.strftime('%Y/%m/%d') %><br>
        犬種：<%= @post.dog_breed %><br>
        説明：<%= @post.caption %><br>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-6 offset-3">
      ※お気に入りをするには<br>
      ログインまたは新規登録をしてください→
      <%= link_to new_user_session_path do %>
        <i class="fas fa-hand-holding-heart"></i>
      <% end %>
      <div class="card mx-auto mt-4 shadow-lg">
        <div class="card-header">
          <%= @salon_user.salon_name %>
        </div>
        <div id="slider">
          <% @post.post_images.each do |image| %><br>
            <%= attachment_image_tag image, :image, :fill, 200, 200 %>
          <% end %>
        </div>
        <div class="card-body">
          <%= image_tag '/assets/born_brown.jpeg', :size =>'20x20' %><%= @post.favorites.count %><br>
          <%= @post.created_at.strftime('%Y/%m/%d') %><br>
          犬種：<%= @post.dog_breed %><br>
          説明：<%= @post.caption %>
        </div>
      </div>
    </div>
  </div>
<% end %>
