<div class="row mt-5 mb-3">
  <div class="col-5 mx-auto">
    <span class="title-background">ログイン</span>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :plaaceholder => "sample@example.com", :size => "40*30" %>
      </div>
      <div class="field">
        <%= f.label :password, "パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password", :size => "40*30" %>
      </div>
      <div class="actions mt-3">
        <%= f.submit "ログイン", class: "btn btn-dark" %>
      </div><br>
      <%= link_to "ゲストログイン（サロン）", admin_guest_sign_in_path, method: :post, class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>
