<h2>ログイン</h2>
<p>会員登録がお済みの方は以下よりログインください。</p>

<%= form_with model: @user, url: user_session_path, local: true do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<h2>会員登録がお済みでない方</h2>
<p>会員登録がお済みでない方はこちらから登録をお願いします。</p>
<%= link_to "新規登録", new_user_registration_path %>

<p>
  掲載をご希望のサロン様は
  <%= link_to "こちら", admin_homes_info_path %>
</p>
