<h1>予約一覧</h1>
<% @reservations.each do |reservation| %>
  <%= link_to admin_reservation_path(reservation) do %>
    予約ID：<%= reservation.id %><br>
    予約日：<%= reservation.created_at.strftime("%Y-%m-%d %H:%M") %><br>
    来店日時：<%= reservation.day %>,<%= reservation.time %><br>
    ご予約者様：<%= reservation.user.family_name %><%= reservation.user.first_name %><br>
  <% end %>
<% end %>
