<div class="row mt-4">
  <div class="col-2 border-right offset-1">
    <%= render 'search' %>
  </div>
  <div class="col-8">
    <span class="title-background">予約一覧</span><br>
    <% @reservations.each do |reservation| %>
      <%= link_to admin_reservation_path(reservation) do %>
        <div class="border mb-2 mt-3">
          予約ID：<%= reservation.id %>｜
          予約日：<%= reservation.created_at.strftime("%Y-%m-%d %H:%M") %>｜
          来店日時：<%= reservation.day %>,<%= reservation.time %>｜
          ご予約者様：<%= reservation.user.family_name %><%= reservation.user.first_name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
