<div class="row mt-3 mb-3">
  <div class="col-lg-3 offset-3">
    <span class="title-background">予約詳細</span>
  </div>
</div>

<div class="row mt-3 mb-3">
  <div class="col-lg-8 offset-2">
<table class="table text-dark">
  <thead>
    <tr class="table-background">
      <th>予約内容</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="width: 20%">ご予約者様</td>
      <td><%= @reservation.user.user_name %>(<%= @reservation.user.user_name_kana %>)</td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= @reservation.user.phone %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td>
        〠<%= @reservation.user.postal_code %><br>
        <%= @reservation.user.prefecture %><%= @reservation.user.address_city %><br>
        <%= @reservation.user.address_building %>
      </td>
    </tr>
    <tr>
      <td>来店日時</td>
      <td><%= @reservation.day %>/<%= @reservation.time %></td>
    </tr>
    <tr>
      <td>メニュー</td>
      <td><%= @reservation.menu %></td>
    </tr>
  </tbody>
</table>
<table class="table text-dark">
  <thead>
    <tr class="table-background">
      <th style="width: 20%">ペット情報</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>名前</td>
      <td><%= @reservation.dog_name %></td>
    </tr>
    <tr>
      <td>犬種</td>
      <td><%= @reservation.dog_breed %></td>
    </tr>
    <tr>
      <td>性別</td>
      <td><%= @reservation.dog_gender %></td>
    </tr>
    <tr>
      <td>生年月日</td>
      <td><%= @reservation.dog_birth %></td>
    </tr>
  </tbody>
</table>
<table class="table text-dark">
  <thead>
    <tr class="table-background">
      <th style="width: 20%">ご要望</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>要望</td>
      <td><%= @reservation.request %></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <% @reservation.reservation_images.each do |image| %>
          <%= attachment_image_tag image, :image, :fill, 200, 200 %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

  </div>
</div>