<div class="row">
  <div class="col">
    <div class="main-image">
      <div class="line">
        <span class="main-text">Let's make your dog<i class="fas fa-dog"></i> cute by trimming<i class="fas fa-heart"></i></span>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-6">
    <div class="scroll-left">
      <p class="text-center align-middle">
        <br>
        <br>
        <br>
        <strong>Cutrim</strong>でできること<%= image_tag asset_path('paw-icon.jpg'), :size =>'20x20' %><br>
        <br>
        <%= link_to "ABOUT US >", homes_about_path, class: "btn btn-dark" %>
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="scroll-right">
      <div class="main-about-image"></div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-6">
    <div class="scroll-left">
      <div class="main-salon-image"></div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="scroll-right">
      <p class="text-center align-middle">
        <br>
        <br>
        <br>
        <br>
        お近くのサロンを探しましょう。<br>
        ご予約も可能です<%= image_tag asset_path('paw-icon.jpg'), :size =>'20x20' %><br>
        <br>
        <%= link_to "SALON >", salon_users_path, class: "btn btn-dark" %>
      </p>
    </div>
  </div>
</div>
<div class="scroll-animation">
  <div class="row mt-5">
    <div class="col-6 offset-3">
      <div class="mx-auto">
        <h2 class="text-center"><i class="fas fa-camera"></i>NEW POST</h2>
      </div>
    </div>
  </div>
</div>
<div class="scroll-animation">
      <div class="new-post">
        <div class="new-post-image">
          <% @post_images.first(6).each do |image| %>
            <%= attachment_image_tag image, :image, :fill, 150, 150, fallback: "no_image.jpg",size:'150x150', class: "border border-white rounded" %>
          <% end %>
        </div>
      </div>
</div>
<div class="scroll-animation">
  <div class="row mt-5">
    <div class="mx-auto">
      <p>
        お気に入りのカットスタイルを探しましょう<%= image_tag asset_path('paw-icon.jpg'), :size =>'20x20' %>
      </p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="mx-auto">
      <%= link_to "VIEW MORE >", posts_path, class: "btn btn-dark" %>
    </div>
  </div>
</div>

<span id="back">
  <%= link_to "#" do %>
    <%= image_tag asset_path("img/logo-top.png") %>
  <% end %>
</span>



