<h2>サロン様新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "salon_users/shared/error_messages", resource: resource %>

 <table>
    <thead>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td><%= f.label :salon_name, "サロン名" %></td>
        <td><%= f.text_field :salon_name, autofocus: true %></td>
      </tr>
      <tr>
        <td><%= f.label :postal_code, "貴店郵便番号（ハイフンなし）" %></td>
        <td><%= f.text_field :postal_code, autofocus: true, :placeholder => "1234567" %></td>
      </tr>
      <tr>
        <td>貴店ご住所</td>
        <td>
          <%= f.label :prefecture, "都道府県" %><%= f.text_field :prefecture, autofocus: true %><br>
          <%= f.label :address_city, "市区郡以下" %><%= f.text_field :address_city, autofocus: true %><br>
          <%= f.label :address_building, "ビル・マンション名" %><%= f.text_field :address_building, autofocus: true %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :phone, "貴店電話番号（ハイフンなし）" %></td>
        <td><%= f.text_field :phone, autofocus: true, :placeholder => "0120123456" %></td>
      </tr>
      <tr>
        <td><%= f.label :email, "貴店メールアドレス" %></td>
        <td><%= f.email_field :email, autocomplete: "email" %></td>
      </tr>
      <tr>
        <td><%= f.label :password, "パスワード(#{@minimum_password_length}文字以上)" %></td>
        <td><%= f.password_field :password, autocomplete: "new-password" %></td>
      </tr>
      <tr>
        <td><%= f.label :password_confirmation, "パスワード(確認用)" %></td>
        <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "登録する", class: "btn btn-dark" %></td>
      </tr>
    </tbody>
  </table>
<% end %>