<div class="row mt-3">
  <div class="col-8 offset-2">
    <div class="error-message">
      <% if @post.errors.any? %>
        <%= @post.errors.count %>件のエラーが発生しました<br>
        <% @post.errors.full_messages.each do |message| %>
          ・<%= message %><br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-6 offset-3">
    <%= form_with model: @post, url:admin_posts_path, local:true do |f| %>
      <table class="table table-borderless text-dark">
        <tbody>
          <tr>
            <td>画像</td>
            <td>
              <%= f.attachment_field :post_images_images, multiple: true %>
              <p class="post_image-text-size">
                ※画像を複数アップロードする場合は、<br>
                「ファイル選択」を選択後、<br>
                shift + クリック または ctrl + クリックで画像を選択し、<br>
                アップロードしてください。
              </p>
            </td>
          </tr>
          <tr>
            <td>犬種</td>
            <td><%= f.text_field :dog_breed, :size => "40*30" %></td>
          </tr>
          <tr>
            <td>説明</td>
            <td><%= f.text_area :caption, :size => "100*60" %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit '投稿する', class: "btn btn-info" %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
