<div class="row mt-3 mb-3">
  <div class="col-3 offset-3">
    <span class="title-background">サロン情報編集</span>
  </div>
</div>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <div class="error-message">
      <% if @salon_user.errors.any? %>
        <%= @salon_user.errors.count %>件のエラーが発生しました<br>
        <% @salon_user.errors.full_messages.each do |message| %>
          ・<%= message %><br>
        <% end %>
      <% end %>
    </div>
    <%= form_with model: @salon_user, url: admin_salon_users_update_infomation_path, local: true do |f| %>
      <table class="table table-borderless">
        <tbody>
            <tr>
            <td>サロン名</td>
            <td>
              <%= f.text_field :salon_name, autofocus: true, :size => "40*30" %>
            </td>
          </tr>
          <tr>
            <td><%= f.label :postal_code, "郵便番号（ハイフンなし）" %></td>
            <td><%= f.text_field :postal_code, autofocus: true %></td>
          </tr>
          <tr>
            <td><%= f.label :prefecture_code, "都道府県" %></td>
            <td><%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name %></td>
          </tr>
          <tr>
            <td><%= f.label :address_city, "住所" %></td>
            <td><%= f.text_field :address_city, autofocus: true, :size => "60*30" %></td>
          </tr>
          <tr>
            <td><%= f.label :address_building, "ビル名・マンション名" %></td>
            <td><%= f.text_field :address_building, autofocus: true, :size => "60*30" %></td>
          </tr>
          <tr>
            <td><%= f.label :phone, "電話番号（ハイフンなし）" %></td>
            <td><%= f.text_field :phone, autofocus: true, :size => "40*30" %></td>
          </tr>
          <tr>
            <td><%= f.label :salon_image, "サロンイメージ画像" %></td>
            <td><%= f.attachment_field :salon_image %></td>
          </tr>
          <tr>
            <td><%= f.label :introduction, "紹介文" %></td>
            <td><%= f.text_area :introduction, :size => "60*60" %></td>
          </tr>
          <tr>
            <td><%= f.label :business_day, "営業日" %></td>
            <td><%= f.text_field :business_day, :size => "60*30" %></td>
          </tr>
          <tr>
            <td><%= f.label :business_time, "営業時間" %></td>
            <td><%= f.time_field :business_start_time %>〜<%= f.time_field :business_end_time %></td>
          </tr>
          <tr>
            <td><%= f.label :email, "メールアドレス" %></td>
           <td><%= f.email_field :email, autocomplete: "email", :size => "40*30" %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "編集内容を保存", class: "btn btn-info" %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>


