<h2>サロン情報編集</h2>

<%= form_with model: @salon_user, url: admin_salon_users_update_infomation_path, local: true do |f| %>
  <table>
    <thead>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>サロン名</td>
        <td>
          <%= f.text_field :salon_name, autofocus: true %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :postal_code, "郵便番号（ハイフンなし）" %></td>
        <td><%= f.text_field :postal_code, autofocus: true %></td>
      </tr>
      <tr>
        <td><%= f.label :prefecture_code, "都道府県" %></td>
        <td><%= f.text_field :prefecture_code, autofocus: true %></td>
      </tr>
      <tr>
        <td><%= f.label :address_city, "住所" %></td>
        <td><%= f.text_field :address_city, autofocus: true %></td>
      </tr>
      <tr>
        <td><%= f.label :address_building, "ビル名・マンション名" %></td>
        <td><%= f.text_field :address_building, autofocus: true %></td>
      </tr>
      <tr>
        <td><%= f.label :phone, "電話番号（ハイフンなし）" %></td>
        <td><%= f.text_field :phone, autofocus: true %></td>
      </tr>
      <tr>
        <td><%= f.label :salon_image, "サロンイメージ画像" %></td>
        <td><%= f.attachment_field :salon_image %></td>
      </tr>
      <tr>
        <td><%= f.label :introduction, "紹介文" %></td>
        <td><%= f.text_area :introduction %></td>
      </tr>
      <tr>
        <td><%= f.label :business_day, "営業日" %></td>
        <td><%= f.text_field :business_day %></td>
      </tr>
      <tr>
        <td><%= f.label :business_time, "営業時間" %></td>
        <td><%= f.time_field :business_start_time %><%= f.time_field :business_end_time %></td>
      </tr>
      <tr>
        <td><%= f.label :email, "メールアドレス" %></td>
        <td><%= f.email_field :email, autocomplete: "email" %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "編集内容を保存", class: "btn btn-info" %></td>
      </tr>
    </tbody>
  </table>
<% end %>


