<div class="salon-detail">
  <div class="salon-image">
    <%= attachment_image_tag @salon_user, :salon_image, :fill, 800, 400, fallback: "no_image.jpg", size:'800x400' %>
    <div class="salon-name">
      <%= @salon_user.salon_name %>
    </div>
  </div>
</div>

<div class="wrap">
  <ul id="tab-menu">
    <li><a href="#tab1" class="active">Salon Info</a></li>
    <li><a href="#tab2" class=""><i class="fas fa-camera"></i></a></li>
    <li><a href="#tab3" class="">Menu</a></li>
    <%= link_to salon_user_reservations_path(@salon_user), class: "btn btn-secondary ml-3" do %>
      <i class="far fa-calendar-alt"></i>   Reserve
    <% end %>
  </ul>
  <div id="tab-contents">
    <div id="tab1" class="tab">
      <table class="table-layout">
        <tbody>
          <tr>
            <td class="table-heading">サロン紹介</td>
            <td><%= @salon_user.introduction %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td>
              〠<%= @salon_user.postal_code %><br>
              <%= @salon_user.address %>
            </td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @salon_user.phone %></td>
          </tr>
          <tr>
            <td>営業日</td>
            <td>
              <%= @salon_user.business_day %><br>
              <%= @salon_user.business_start_time&.strftime('%H:%M') %>~<%= @salon_user.business_end_time&.strftime('%H:%M') %>
            </td>
          </tr>
        </tbody>
      </table><br>
      <div id="map"></div>
    </div>
    <div id="tab2" class="tab">
      <div class="salon_user_post_image">
        <% @salon_user.posts.each do |post| %>
          <%= link_to post_path(post) do %>
            <div class="card shadow-lg mr-2 mb-2">
              <% post.post_images.each do |image| %><br>
                <%= attachment_image_tag image, :image, :fill, 200, 200 %>
                <% break %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="tab3" class="tab">
      <table class="table-layout">
        <thead>
          <tr>
            <th class="table-top">メニュー</th>
            <th class="table-second">メニュー内容</th>
            <th>金額</th>
          </tr>
        </thead>
        <% @salon_user.menus.each do |menu| %>
        <tbody>
          <tr>
            <td><%= menu.name %></td>
            <td><%= menu.caption %></td>
            <td><%= menu.amount %>円（税込）</td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
<%= javascript_include_tag 'salon_user.js' %>

<script>
  let map;

  function initMap() {
    // geocoderを初期化
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
      center: {
        lat: gon.salon_user.latitude,
        lng: gon.salon_user.longitude
      },
      // マップの倍率
      zoom: 17,
    });

    marker = new google.maps.Marker({
      // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
      position: {
        lat: gon.salon_user.latitude,
        lng: gon.salon_user.longitude
      },
      map: map
    });
  }
</script>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GMAP_API'] %>&callback=initMap">
</script>
