<div class="row mt-3 mb-3">
  <div class="col-3 offset-3">
    <span class="title-background">メニュー編集</span>
  </div>
</div>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <div class="error-message">
      <% if @menu.errors.any? %>
        <%= @menu.errors.count %>件のエラーが発生しました<br>
        <% @menu.errors.full_messages.each do |message| %>
          ・<%= message %><br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <%= form_with model: @menu, url:admin_menu_path(@menu), local:true do |f| %>
      <h4>メニュー名</h4>
      <%= f.text_field :name, :size => "40*30" %>
      <h4>メニュー説明</h4>
      <%= f.text_area :caption, :size => "100*60" %>
      <h4>金額</h4>
      <%= f.text_field :amount, :size => "40*30" %>円（税込）<br>
      <br>
      <%= f.submit '変更を保存', class: "btn btn-info" %>
    <% end %>
  </div>
</div>
