<%= render 'form', menu: @menu %>
<h2>メニュー一覧</h2>
<table>
  <thead>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <% @menus.each do |menu| %>
  <tbody>
    <tr>
      <td><%= menu.name %></td>
      <td>
        説明：<%= menu.caption %><br>
        金額：<%= menu.amount %>円（税込）
      </td>
      <td>
        <%= link_to '編集', edit_admin_menu_path(menu) %>
        <%= link_to '削除', admin_menu_path(menu), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
