<div class="row mt-5 mb-3">
  <div class="col-lg-5 offset-1 border-right">
    <span class="title-background">ログイン</span><br>
    <p>会員登録がお済みの方は以下よりログインください。</p>

    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :plaaceholder => "sample@example.com", :size => "40*30" %>
      </div>
      <div class="field">
        <%= f.label :password, "パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password", :size => "40*30" %>
      </div><br>
      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-dark" %>
      </div><br>
      <%= link_to "ゲストログイン", public_guest_sign_in_path, method: :post, class: "btn btn-secondary" %>
    <% end %>
  </div>
  <div class="col-lg-5 offset-1">
    <div>
      <span class="title-background">会員登録がお済みでない方</span>
      <p>会員登録がお済みでない方はこちらから登録をお願いします。</p>
      <%= link_to "新規会員登録", new_user_registration_path, class: "btn btn-dark" %><br>
    </div>
    <div class="mt-5">
      <span class="title-background">
      掲載をご希望のサロン様は
      <%= link_to "こちら>", admin_homes_info_path, class: "btn btn-dark" %>
    </span>
    </div>
  </div>
</div>


