<!DOCTYPE html>
<html>
  <head>
    <title>Cutrim</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>
    <%= favicon_link_tag('favicon.ico') %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/721f0cdc29.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat&family=Kalam&family=Kiwi+Maru:wght@300&family=Nanum+Gothic&family=New+Tegomin&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag asset_path('logo.jpg') %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
          　<% if user_signed_in? %>
              <p class="mr-5 mt-2">Welcome,<%= current_user.nickname %>さん<i class="fas fa-paw"></i>︎</p>
              <li class="nav-item">
                <%= link_to mypage_path, class: 'nav-link text-dark' do %>
                  <i class="far fa-address-card"></i>MyPage
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to salon_users_path, class: 'nav-link text-dark' do %>
                  <i class="fas fa-cut"></i>Salon
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to posts_path, class: 'nav-link text-dark' do %>
                  <i class="fas fa-camera"></i>Photo
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to users_favorites_path, class: 'nav-link text-dark' do %>
                  <i class="fab fa-gratipay"></i>Favorite
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to users_reservations_path, class: 'nav-link text-dark' do %>
                  <i class="far fa-calendar-alt"></i>Reservation
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark' do %>
                  <i class="fas fa-sign-out-alt"></i>ログアウト
                <% end %>
              </li>
            <% elsif salon_user_signed_in? %>
              <li class="nav-item">
                <%= link_to admin_salon_users_mypage_path, class: 'nav-link text-dark' do %>
                  <i class="far fa-address-card"></i>MyPage
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_menus_path, class: 'nav-link text-dark' do %>
                  <i class="fas fa-book-open"></i>Menu
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_posts_path, class: 'nav-link text-dark' do %>
                  <i class="fas fa-camera"></i>Photo
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_reservations_path, class: 'nav-link text-dark' do %>
                  <i class="far fa-calendar-alt"></i>Reservation
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_salon_user_session_path, method: :delete, class: 'nav-link text-dark' do %>
                  <i class="fas fa-sign-out-alt"></i>ログアウト
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to homes_about_path, class: 'nav-link text-dark' do %>
                  <i class="fas fa-book-open"></i>About
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to salon_users_path, class: 'nav-link text-dark' do %>
                  <i class="fas fa-cut"></i>Salon
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to posts_path, class: 'nav-link text-dark' do %>
                  <i class="fas fa-camera"></i>Photo
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_registration_path, data: {"turbolinks" => false}, class: 'nav-link text-dark' do %>
                  <i class="fas fa-user-plus"></i>新規登録
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: 'nav-link text-dark' do %>
                  <i class="fas fa-address-book"></i>ログイン
                <% end %>
              </li>
            <% end %>
          </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="row mt-3 mb-2">
        <div class="col-5 offset-2">
          <div class="flash-message">
            <%= flash[:notice] %>
            <%= flash[:success] %>
            <%= flash[:alert] %>
          </div>
        </div>
      </div>
      <%= yield %>
    </main>
    <footer>
      <div class="row">
        <div class="mx-auto">
          <p class="text-center">©︎Cutrim</p>
        </div>
      </div>
    </footer>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </body>
</html>
