<!DOCTYPE html>
<html>
  <head>
    <title>Cutrim</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <p>Welcome,<%= current_user.family_name %>さん☺︎</p>
        <li><%= link_to "MyPage", mypage_path %></li>
        <li><%= link_to "Salon", salon_users_path %></li>
        <li><%= link_to "post_image" %></li>
        <li><%= link_to "favorite" %></li>
        <li><%= link_to "Reserve" %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <% elsif salon_user_signed_in? %>
        <li><%= link_to "MyPage", admin_salon_users_mypage_path %></li>
        <li><%= link_to "Menu", admin_menus_path %></li>
        <li><%= link_to "post_image", admin_post_images_path %></li>
        <li><%= link_to "Reserve" %></li>
        <li><%= link_to "ログアウト", destroy_salon_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "About", homes_about_path %></li>
        <li><%= link_to "Salon" %></li>
        <li><%= link_to "post_image" %></li>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
    </header>
    <body>
      <%= yield %>
    </body>
    <footer>
      ©︎Cutrim
    </footer>
  </body>
</html>
