<script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
<div class="row mt-3 mb-3">
  <div class="col-4 offset-2">
    <h3><i class="fas fa-user-plus"></i>新規会員登録</h3>
  </div>
</div>

<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

  <div class="row">
    <div class="col-2 offset-3">
      <%= f.label :last_name, "名前" %><span class="badge badge-danger">必須</span><br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 offset-3">
      <%= f.label :family_name, "姓" %>
      <%= f.text_field :family_name, autofocus: true, :placeholder => "田中" %>
      <p class="error-message"><%= resource.errors.full_messages_for(:family_name)[0] %></p>
    </div>
    <div class="col-lg">
      <%= f.label :first_namee, "名" %>
      <%= f.text_field :first_name, autofocus: true, :placeholder => "花子" %>
      <p class="error-message"><%= resource.errors.full_messages_for(:first_name)[0] %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-3 offset-3">
      <%= f.label :last_name, "名前(フリガナ)" %><span class="badge badge-danger">必須</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 offset-3">
      <%= f.label :family_name_kana, "ｾｲ" %>
      <%= f.text_field :family_name_kana, autofocus: true, :placeholder => "タナカ" %>
      <p class="error-message"><%= resource.errors.full_messages_for(:family_name_kana)[0] %></p>
    </div>
    <div class="col-lg">
      <%= f.label :family_name_kana, "ﾒｲ" %>
      <%= f.text_field :first_name_kana, autofocus: true, :placeholder => "ハナコ" %>
      <p class="error-message"><%= resource.errors.full_messages_for(:first_name_kana)[0] %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <%= f.label :nickname, "ニックネーム" %><span class="badge badge-danger">必須</span><br>
      <%= f.text_field :nickname, autofocus: true %><p class="error-message"><%= resource.errors.full_messages_for(:nickname)[0] %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <%= f.label :email, "メールアドレス" %><span class="badge badge-danger">必須</span><br>
      <%= f.email_field :email, autocomplete: "email", :size => "40*30" %><p class="error-message"><%= resource.errors.full_messages_for(:email)[0] %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <%= f.label :phone, "電話番号(ハイフンなし)" %><span class="badge badge-danger">必須</span><br>
      <%= f.text_field :phone, autofocus: true, :placeholder => "09012345678" %><p class="error-message"><%= resource.errors.full_messages_for(:phone)[0] %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <%= f.label :postal_code, "郵便番号" %><span class="badge badge-danger">必須</span><br>
      <%= f.text_field :postal_code, autofocus: true, :placeholder => "123-4567", id: "postal_code" %><p class="error-message"><%= resource.errors.full_messages_for(:postal_code)[0] %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <%= f.label :prefecture_code, "都道府県" %><span class="badge badge-danger">必須</span><br>
      <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, id: "prefecture" %><p class="error-message"><%= resource.errors.full_messages_for(:prefecture)[0] %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <%= f.label :address_city, "住所" %><span class="badge badge-danger">必須</span><br>
      <%= f.text_field :address_city, autofocus: true, id: "address_city", :size => "60*30" %><p class="error-message"><%= resource.errors.full_messages_for(:address_city)[0] %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <%= f.label :address_building, "ビル名・マンション名" %><br>
      <%= f.text_field :address_building, autofocus: true, :size => "60*30" %>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <%= f.label :password, "パスワード(#{@minimum_password_length}文字以上)" %><span class="badge badge-danger">必須</span><br>
      <%= f.password_field :password, autocomplete: "new-password" %><p class="error-message"><%= resource.errors.full_messages_for(:password)[0] %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <%= f.label :password_confirmation, "パスワード(確認用)" %><span class="badge badge-danger">必須</span><br>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %><p class="error-message"><%= resource.errors.full_messages_for(:password_confirmation)[0] %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <%= f.submit "登録する", class: "btn btn-dark mt-2" %>
    </div>
  </div>
</div>

<% end %>
